<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>Hello, Rails!</h1>

<h1>Listing campis</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @campis.each do |campi| %>
  <tr>
    <td><%= campi.name %></td>
    <td><%= campi.title %></td>
    <td><%= campi.content %></td>
    <td><%= link_to 'Show', campi %></td>
    <td><%= link_to 'Edit', edit_campi_path(campi) %></td>
    <td><%= link_to 'Destroy', campi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New campi', new_campi_path %>