<%= form_for(@campi) do |f| %>
  <% if @campi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campi.errors.count, "error") %> prohibited this campi from being saved:</h2>

      <ul>
      <% @campi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :s %><br />
    <%= f.text_field :s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
