<h1>Listing campis</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>S</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campis.each do |campi| %>
  <tr>
    <td><%= campi.nome %></td>
    <td><%= campi.s %></td>
    <td><%= link_to 'Show', campi %></td>
    <td><%= link_to 'Edit', edit_campi_path(campi) %></td>
    <td><%= link_to 'Destroy', campi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campi', new_campi_path %>
